django>=4.2
instaloader>=4.13
shazamio>=0.4
youtube-search-python>=1.6
yt-dlp>=2024.1.0
ffmpeg-python>=0.2.0
python-dotenv>=1.0
requests>=2.31
aiohttp>=3.9
gunicorn>=21.0
celery>=5.3
redis>=5.0
whitenoise>=6.6
django-redis>=5.4
